{% extends "base.html" %}

{% block titulo%} Lista de Libros {% endblock %}

{% block contenido %}  
    <div class="card">
        <div class="card-header">
            Listar Libros
        </div>
        <div class="card-body">
            <h4 class="card-title">Libros</h4>

            <a class="btn btn-success" href="{% url 'crear' %}">Agregar nuevo libro</a>

            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Titulo</th>
                        <th>Imagen</th>
                        <th>Genero</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for libro in libros %}
                        <tr>
                            <td>{{ libro.id }}</td>
                            <td>{{ libro.titulo }}</td>
                            <td>
                                <img src="{{ libro.imagen.url }}" height="100px" width="65">
                            </td>
                            <td>{{ libro.genero }}</td>
                            <td>
                                <a href="{% url 'editar' libro.id %}" class="btn btn-sm btn-info">Editar</a> |
                                <a href="{% url 'eliminar' libro.id %}" class="btn btn-sm btn-danger">Eliminar</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}