<!DOCTYPE html>
<html lang="en">
   <head>
       <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1">
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
       <title>Detalles</title>
   </head>
   <body>
        <div class="container">
            <div class="row d-flex justify-content-center mt-5">
                <div class="col-9">
                    <a href="{% url 'inicio' %}" class="btn btn-success mb-3">Regresar</a>
                    
                    <div class="card mb-5">
                        <div class="card-header">
                            <h4>Detalles</h4>
                        </div>
                        <div class="card-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <!--Si solo se quieren observar los detalles-->
                                    {% if editar == 0 %}
                                        <div class="col-5 d-flex align-items-center">
                                            <img src="{{pelicula.portada.url}}" width="100%">
                                        </div>
                                        <div class="col-7">
                                            <h4>{{pelicula.nombre}}</h4><br>
                                            <b>Sinopsis</b>: {{pelicula.descripcion}}<br><br>
                                            <b>Genero</b>: {{pelicula.genero}}<br><br>
                                            <b>Director</b>: {{pelicula.director}}.

                                            <div class="col-12 mt-4 d-flex justify-content-center">
                                                <a href="{% url 'detalles' pelicula.id 1 %}" class="btn btn-primary m-2">Editar</a>
                                                <a href="{% url 'eliminar' pelicula.id %}" class="btn btn-danger m-2">Eliminar</a>
                                            </div>
                                        </div>
                                    {% endif %}

                                    <!--Si se quieren editar los datos-->
                                    {% if editar == 1 %}
                                        {% include "funciones/editar_pelicula.html" %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </body>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</html>