<!DOCTYPE html>
<html lang="en">
   <head>
       <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1">
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
       <title>{% block titulo %} {% endblock %}</title>
   </head>
   <body>
        
        <div class="container">
            <form action="{% url 'inicio' %}" method="POST" class="pt-5 mb-3">
                {% csrf_token %}
                <div class="form-group row">
                    <div class="d-flex justify-content-center">
                        <div class="col-2 p-1">
                            <input type="text" class="form-control" name="buscar_pelicula" placeholder="Buscar pelicula...">
                        </div>
                        <div class="col-1 p-1">
                            <input type="submit" class="btn btn-warning" value="Buscar">
                        </div>
                    </div>
                </div>
            </form>

            {% block contenido %} {% endblock %}
        </div>
   </body>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</html>